@media only screen and (min-width: 595px){
    body{
        width: 100%;
        color:white;
        background-color: #80766c;
        margin:0;
        font-family: 'Raleway', sans-serif;
    }

    #header, #main{
        display: inline-block;
    }

    #menu div{
        display:inline-block;
    }

    #actual_menu li{
        text-align: center;
    }

    #actual_menu li:not(:first-child):before{
        content: " -";
    }

    .active-link{
        padding-left:0.5em;
    }

    a:link{
        color: lightgrey;
    }

    a:active{
        color:  greenyellow;
    }

    a:visited{
        color: #c8f7c5;
    }

    #main a:visited{
        color: purple;
    }

    a:hover{
        color: violet;
    }

    #salta-menu{
        display:none;
    }

    #index-img{
        position: relative;
        width:60%;
        margin: 0 20%;
    }

    #map{
        width: 90%;
        margin: auto;
        height: 30em;
    }

    .team-member img, .team-member span
    {
      display: inline-block;
      width: 100%;
    }

    .team-member img
    {
      max-height: 270px;
    }

    .team-member span
    {
      text-align: center;
      font-size: 1.7em;
    }

    .team-member{
        margin-bottom: 2em;
        width: 24%;
        min-width: 480px;
        display: inline-block;
    }

    #footer{
        padding-top: 1em;
        padding-bottom: 1em;
        background-color:#292521;
        text-align:center;
    }

    #main{
        margin:auto;
        position:relative;
        left:5%;
        width: 90%;
        background-color: #e65c00;
    }

    #menuShowMobile{
        visibility: hidden;
    }

    .prodotto{
        text-align:center;
        display: inline-block;
        width:24%;
        border: solid 1px black;
        padding-bottom: 10px;
    }

    .prodotto-immagine{
        position: static;
        width:auto;
        height: 20em;
        overflow:hidden;
    }

    #content{
        padding: 1em;
    }

    .navbar li{
        display: inline-block;
    }

    .navbar div{
        display: inline-block;
    }

    #menu{
        overflow: auto;
        height: 10%;
        padding-top: 1em;
        padding-bottom: 1em;
        position:relative;
        background-color: #292521;
    }

    #actual_menu{
        float:right;
        background-color: #292521;
        margin: 0;
        margin-right: 5%;
    }

    .titolo-nav{
        margin-left:5%;
    }

    .active-link{
        pointer-events: all;
    }

    .inactive-link{
        font-weight: bold;
        font-size:1.5em;
        text-decoration:none;
        padding-left:0.5em;
        padding-right: 0.5em;
        pointer-events: none;
    }

    .inactive-link:visited{
        color:#e65c00;
    }

    fieldset {
        border: 0;
    }

    #footer-info{
        margin-bottom: 1em;
    }

    #footer a{
        display:block;
    }

    #prenota-print
    {
      display: none;
    }

    .form-element{
      display: block;
      width: auto;
      margin-bottom: 10px;
    }

    .form-element label{
      display: inline-block;
      width: 140px;
      text-align: right;
    }

    .riga-prenotazione{
      display: block;
    }

    .ora, .dati-appuntamento{
      display: inline-block;
      margin: 10px 0;
    }

    .ora{
      margin-right: 5px;
    }

    .day-back, .day-next{
      margin: 0 10px;
    }

    .cliente-appuntamento, .servizi-appuntamento{
      font-weight: bold;
      color: black;
    }
}

@media screen and (min-width:595px) and (max-width:730px){
    .prodotto{
        width:32%;
        border: solid 1px black;
    }
}
