@media only screen and (min-width: 595px){
    body{
        width: 100%;
        color:white;
        background-color: #80766c;
        margin:0;
        font-family: 'Gotham Rounded Medium';
    }

    #header, #main{
        display: inline-block;
        /*position: block;*/
    }

    #menu div{
        /*height: 100%;
        width: 45%;*/
        display:inline-block;    
    }

    #actual_menu li{
        text-align: center;
    }

    #actual_menu li:not(:first-child):before{
        content: " -";
        /*border-left: 0.1em solid lightgray;*/
    }

    /*#actual_menu li:not(:last-child)::after{
        /*content: " - ";
        /*border-left: 0.1em solid lightgray;
    }*/

    .active-link{
        padding-left:0.5em;
    }

    a:link{
        color: lightblue;
    }

    a:active{
        color:  greenyellow;
    }

    a:visited{
        color: blueviolet;
    }

    a:hover{
        color: violet;
    }

    #salta-menu{
        display:none;
    }

    img{
        position: relative;
        width:90%;
        left: 5%;
        margin:auto;
    }

    #map{
        width: 90%;
        margin: auto;
        height: 30em;
    }

    /*.titolo-nav img{
        -webkit-filter: drop-shadow(0 0 0.3em white);
    }*/

    .team-member img, .team-member span{
        display: inline-block;
    }

    .team-member span{
        padding-left: 5%;
    }

    .team-member{
        margin-bottom: 2em;
    }

    #footer{
        padding-top: 1em;
        padding-bottom: 1em;
        background-color:#292521;
        text-align:center;
    }

    #main{
        margin:auto;
        /*margin-left: 4%;
        padding: 0 1% 1% 1%;*/
        /*box-shadow: 0em 0 1em 1em black;*/
        position:relative;
        left:5%;
        
        width: 90%;
        background-color: orange;
        text-shadow: 0 0 1em black;
    }

    .prodotto{
        text-align:center;
        display: inline-block;
        width:24%;
        /*background-size: 24%;
        /*padding-left:1%;
        padding-right:1%;*/
    }

    @media screen and (min-width:595px) and (max-width:730px){
        .prodotto{
            width:32%;
        }
    }

    .prodotto-immagine{
        position: static;
        width:auto;
        height: 20em;
        overflow:hidden;
        /*background-size: 70%;*/
    }

    #content{
        padding: 1em;
    }

    .navbar li{
        display: inline-block;
    }

    .navbar div{
        display: inline-block;
    }

    #menu{
        overflow: auto;
        height: 10%;
        padding-top: 1em;
        padding-bottom: 1em;
        position:relative;
        background-color: #292521;
    }

    #actual_menu{
        float:right;
        background-color: #292521;
        margin: 0;
        margin-right: 5%;
    }

    .titolo-nav{
        margin-left:5%;
    }

    .active-link{
        pointer-events: all;
    }

    .inactive-link{
        font-weight: bold;
        font-size:1.5em;
        text-decoration:none;
        padding-left:0.5em;
        padding-right: 0.5em;
        pointer-events: none;
    }

    .inactive-link:visited{
        color: orange;
    }

    fieldset {
        border: 0;
    }

    #footer-info{
        margin-bottom: 1em;
    }

    #footer a{
        display:block;
    }
}
