@media screen and (max-width: 594px) {
    body{
        width: 100%;
        color:white;
        background-color: #80766c;
        margin:0;
        font-family: 'Raleway', sans-serif;
        /*font-family: 'Gotham Rounded Medium';*/
    }

    #header, #main{
        display: inline-block;
        /*position: block;*/
    }



    /*#actual_menu li:not(:first-child):before{
        content: " -";
        /*border-left: 0.1em solid lightgray;
    }*/

    /*#actual_menu li:not(:last-child)::after{
        /*content: " - ";
        /*border-left: 0.1em solid lightgray;
    }*/

    /*.active-link{
        padding-left:0.5em;
    }*/

    a:link{
        color: white;
    }

    a:active{
        color:  greenyellow;
    }

    a:visited{
        color: #c8f7c5;
    }

    #main a:visited{
        color: #fffacd;
    }

   /* a:hover{
        color: violet;
    }*/

    #salta-menu{
        display:none;
    }

    img{
        position: relative;
        width:90%;
        left: 5%;
        margin:auto;
    }

    #map{
        width: 90%;
        margin: auto;
        height: 30em;
    }

    /*.titolo-nav img{
        -webkit-filter: drop-shadow(0 0 0.3em white);
    }*/

    .team-member img, .team-member span{
        display: inline-block;
    }

    .team-member span{
        padding-left: 5%;
    }

    .team-member{
        margin-bottom: 2em;
    }

    #footer{
        padding-top: 1em;
        padding-bottom: 1em;
        background-color:#292521;
        text-align:center;
    }

    #main{
        margin:auto;
        /*margin-left: 4%;
        padding: 0 1% 1% 1%;*/
        /*box-shadow: 0em 0 1em 1em black;*/
        position:relative;
        left:5%;
        width: 90%;
        background-color: #ba4900;
    }

    .prodotto{
        text-align:center;
        display: inline-block;
        width:100%;
        /*background-size: 24%;
        /*padding-left:1%;
        padding-right:1%;*/
        border: black 1px solid;
        margin-bottom: 10px;
        padding: 10px 0;
    }

    .prodotto-immagine{
        position: static;
        width:auto;
        height: 20em;
        overflow:hidden;
        /*background-size: 70%;*/
    }

    .prodotto-nome{
        font-size: 1.5em
    }

    .prodotto-immagine, .prodotto-nome, .prodotto-costo, .prodotto-categoria{
        display: block;
    }

    #content{
        padding: 1em;
    }

    #actual_menu li{
        width: 100%;
        text-align: center;
    }

    #menu{
        overflow: auto;
        height: 10%;
        padding-top: 1em;
        padding-bottom: 1em;
        position:relative;
        background-color: #292521;
    }

    #actual_menu{
        background-color: #292521;
        margin: 0;
    }

    #actual_menu li{
        list-style-type: none;
    }

    #actual_menu ul{
        padding-left: 0px;
    }

    /*#menuShowMobile {
        display: none;
    }*/

    .titolo-nav{
        margin-left:5%;
    }

    .active-link{
        pointer-events: all;
    }

    .inactive-link{
        font-weight: bold;
        font-size:1.5em;
        text-decoration:none;
        padding-left:0.5em;
        padding-right: 0.5em;
        pointer-events: none;
    }

    .inactive-link:visited{
        color:#e65c00;
    }

    fieldset {
        border-color:#000000;
        border-style: solid;
        margin-top: 5px;

        display: block;
    }

    .no-border {
        border: 0;
    }

    legend {
        background-color: #292521;
        color: white;
        padding: 5px 10px;
    }

    .font-bold {
        font-weight: bold;
    }

    #footer-info{
        margin-bottom: 1em;
    }

    #footer a{
        display:block;
    }

    /* ---------------------*/
    .topnav a{
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
        background-color: #333;
        text-decoration: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }

    .showMenu{
        display:block;
    }

    .hideMenu{
        display:none;
    }

    #menuShowMobile {
        max-width: 100%;
        height: 2em;
        position:relative;
        margin: 0;
        padding: 0;
        overflow: auto;
        text-align: center;
    }

    #prenota-print
    {
      display: none;
    }

    .form-element{
      display: block;
      width: auto;
      margin-bottom: 10px;
    }

    .form-element label{
      display: inline-block;
      width: 140px;
      text-align: right;
    }

    .riga-prenotazione{
      display: block;
    }

    .ora, .dati-appuntamento{
      display: inline-block;
      margin: 10px 0;
    }

    .ora{
      margin-right: 5px;
    }

    .day-back, .day-next{
      margin: 0 10px;
    }

    .cliente-appuntamento, .servizi-appuntamento{
      font-weight: bold;
      color: black;
    }

}
