@media print{
  body
  {
      width: 100%;
      /*color:white;
      background-color: #80766c;
      */
      margin:0;
      font-family: 'Gotham Rounded Medium';
  }

  #actual_menu, #menuShowMobile, #admin-login, #content img, #filtri form, #form-prenotazione, #footer-link, #torna-menu, #salta-menu
  {
    display: none;
  }

  #header, #main, #location{
      display: inline-block;
  }

  #footer
  {
    position: absolute;
    bottom: 0px;
  }

  #prenota-print
  {
    display: inline-block;
  }
}
